<div class='note-title-content'>
  <h2>{{model.id}}
  </h2>

  {{#if model.hasDirtyAttributes}}
    <p>(Not saved.)</p>
  {{/if}}
</div>

{{note-counter note=model}}
{{html-renderer note=model}}

<div class="note-body-content">
  {{textarea value=model.content class="note-body-content-textarea"}}
  {{#if model.hasDirtyAttributes}}
  <br>
    <button {{action 'saveNote'}}>Save</button>
  {{/if}}
  <br>
  <button {{action 'deleteNote'}}>Delete</button>
</div>
