<div class='note-title-content'>
  <h2>{{model.id}}
  </h2>

  {{#if model.hasDirtyAttributes}}
    <p>(Not saved.)</p>
  {{/if}}
</div>
  <div class="col-md-6">
	<div class="note-body-content">
	  <div class="form-group">
        {{textarea value=model.content class="form-control rows="6"}}
      </div>
   </div>
   </div>

  <div class="col-md-6">
  	{{note-counter note=model}}
  </div>
  <div class="col-md-6">
  	{{html-renderer note=model}}
  </div>
  {{#if model.hasDirtyAttributes}}
    <button {{action 'saveNote'}}>Save</button>
  {{/if}}
  </div>
</div>
